:root{

  --turk-backround-color: #38858A;
  --turk-main-color: #4F9296;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--turk-backround-color);
  color: #333;
}

header {
  color: #fff;
  text-align: center;
  padding: 20px;
}

#timer {
  color: #fff;
  background-color: var(--turk-main-color);
  border-radius: 8px;
  box-shadow: var(--shadow);
  padding: 20px;
  margin-bottom: 20px;
}

#timetable {
  width: 100%;
  background-color: var(--turk-main-color);
  border-radius: 8px;
  box-shadow: var(--shadow);
  padding: 20px;
  margin-bottom: 20px;
}

#timer div,
#stundenplan div {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

#currentLesson span,
#countdown span {
  font-weight: 700;
}

#countdown {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 100px;
  min-width: 5ch;
  line-height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 0px 10px 0px
}

header img {
  height: 80%;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.main {
  min-width: 50%;
}

#logoutButton{
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

#mainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#teacher{
  color: white;
  font-weight: 500;
}

/* Start of the Login form*/

#loginForm{
  
  background-color: white;
  box-shadow: var(--shadow);
  padding: 35px;
  
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 500;

}

#loginForm h1{
  text-align: center;
  margin: 0;
  margin-top: 2vh;
}

#loginForm p{
  text-align: center;
  color: rgba(0, 0, 0, 0.152);
  margin-bottom: 5vh;
  font-weight: 400;
}


#loginForm input{
  margin-top: 6px;
  padding: 9px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.134);
  outline: none;
  font-family: "Inter";
  border-radius: 3px;
}

#loginForm input:focus{
  border: 1px solid var(--turk-main-color);
}

#loginForm input:-webkit-autofill{
  background-color: transparent;
}

#loginButton{

  padding: 15px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  background-color: var(--turk-main-color);
  color: white;
  cursor: pointer;
  transition: transform 0.7s ease;
}

#loginButton:hover{
  transform: scale(1.018);
}

